@page
@model MySport.Pages.Accounts.Profile

<form>
    <legend>Профиль</legend>
    <label>Имя</label><br/>
    <input type="text"/><br/>
    <label>Фамилия</label><br/>
    <input type="text"/><br/>
    <label>Отчество</label><br/>
    <input type="text"/><br/>
    <label>Дата рождения</label><br/>
    <input type="date"/><br/>
    <label>Пол</label><br/>
    <select><br/>
        <option>Мужчина</option>
        <option>Женщина</option>
    </select>
    <br/>
    <label>О себе</label><br/>
    <textarea class="form-control"> </textarea>
    <br/>
    <br/>
    <input type="submit" value="Создать Профиль" class="btn btn-primary"/>
</form>