@page
@model MySport.Pages.Accounts.Registrations

<form>
    <legend>Регистрация</legend>
    <div class="form-group">
        <label>E-mail:</label><br/>
        <input type="email"/><br/>
        <label>Password:</label><br/>
        <input type="password"/><br/>
        <label>Confirm password:</label><br/>
        <input type="password"/><br/>
        <br/>
        <input type="submit" value="Зарегистрироваться" class="btn btn-primary"/>
    </div>
</form>