@page
@model MySport.Pages.Basketball

<h1>Баскетбол</h1>

<h5>
    Это  спортивная командная игра с мячом, в которой мяч забрасывают руками в кольцо соперника.
    
    В баскетбол играют две команды, каждая из которых состоит из пяти полевых игроков (замены не ограничены). Цель каждой команды — забросить мяч в кольцо с сеткой (корзину) соперника и помешать другой команде завладеть мячом и забросить его в свою корзину. Корзина находится на высоте 3,05 м от паркета (10 футов). За мяч, заброшенный с ближней и средней дистанций, засчитывается два очка, с дальней (из-за трёхочковой линии) — три очка; штрафной бросок оценивается в одно очко. Стандартный размер баскетбольной площадки — 28 м в длину и 15 м — в ширину. Баскетбол — один из самых популярных видов спорта в мире.
</h5>
<img src="https://i.pinimg.com/originals/c6/2b/46/c62b46922569c407f057065e063c6f3c.jpg"
     width="550" height="360"/>
     
<img src="https://s.hdnux.com/photos/73/61/47/15669744/3/rawImage.jpg"
     width="550" height="360"/>
     