@page
@model MySport.Pages.Contacts

<form xmlns="http://www.w3.org/1999/html">
    <legend>Связь с нами</legend>
</form>

<h5>
    Наши контакты в случае необходимости:
</h5>

<p>
    +79889265127<br/>
    kyle41189@gmail.com<br/>
    <a href=»https://vk.com/la____flame»>ВК</a><br/>
    <a href=»https://www.instagram.com/__la__flame_/»>Инстаграм</a>
</p>
