@page
@model MySport.Pages.Football

<h1>Футбол</h1>

<h5>
    Это самая популярная игра с мячом и один из самых популярных видов спорта.  Командный вид спорта, в котором целью является забить мяч в ворота соперника ногами или другими частями тела (кроме рук) большее количество раз, чем команда соперника.
</h5>

<h5>Многие дети мечтают стать футболистами, потому что в футболе крутятся очень большие деньги и невероятные возможности.</h5>     
<img src="https://s-cdn.sportbox.ru/images/styles/upload/fp_fotos/21/b8/545a904b297bc.JPG"
     width="550" height="360"/>
     
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Lass_Messi.jpg/1200px-Lass_Messi.jpg"
     width="550" height="360"/>