@page
@model MySport.Pages.Hockey

<h1>Хоккей</h1>

<h5>
    Это семейство игр на ледовой, тартановой, пластиковой, деревянной или травяной площадке, в котором две команды стараются поразить (мячом или шайбой) цель — ворота противника, используя клюшки. В каждой команде есть один вратарь, который защищает ворота своей команды, и несколько полевых игроков. Существует много видов хоккея, такие как хоккей с шайбой, хоккей с мячом, хоккей на траве и другие.
        
    В большинстве стран мира термин «хоккей» без уточнений относится к хоккею на траве, в то время как в США, Канаде, России и большинстве стран Восточной и Северной Европы этот термин обычно относится к хоккею с шайбой.
</h5>
<img src="https://avatars.mds.yandex.net/get-zen_doc/4387796/pub_6031eb66756eeb31f057c9c7_6031f321bd729c71d1f62bfb/scale_1200"
     width="550" height="360"/>

<img src="https://img1.goodfon.ru/wallpaper/nbig/f/55/aleksandr-ovechkin-hokkey-5850.jpg"
     width="550" height="360"/>



