@page
@model MySport.Pages.Tennis

<h1>Теннис</h1>

<h5>
  Это  вид спорта, в котором соперничают либо два игрока («одиночная игра»), либо две команды, состоящие из двух игроков («парная игра»). Задачей соперников — тенниси́ста или тенниси́стки — является при помощи ракеток отправлять мяч на сторону соперника так, чтобы тот не смог его отразить, не более чем после первого падения мяча на игровом поле на половине соперника.
</h5>

<img src="https://img.psiheya-market.ru/upload/storage/2016/tennis/17.jpg"
     width="550" height="360"/>
     
<img src="https://www.theglobeandmail.com/resizer/M4clLMzUDM_s2mahVvzo9RocZ0E=/1200x0/filters:quality(80)/arc-anglerfish-tgam-prod-tgam.s3.amazonaws.com/public/3F5H46IEIFB3VLBDJWAQKZXQQU"
     width="550" height="360"/>