@page
@model MySport.Pages.Wrestling

<h1>Реслинг</h1>

<h5>
    Это вид развлечения, включающий в себя матчи с элементами борьбы, ход и результат которых планируются заранее. Матчи проходят между исполнителями (рестлерами), которые играют роли определённых персонажей.Реслинг широко использует элементы мелодрамы — персонажи в реслинге обладают большим эго, яркими личностями и бурными межличностными отношениями на основе контрастов — борьбы добра и зла. Персонажи действуют по сценарию. Выступления в основном проходят на ринге, подобном тому, который используется в боксе. В телевизионных шоу реслинга также записывается множество дополнительных закулисных сцен, чтобы дополнить ими «драму» на ринге. Рестлеры проходят подготовку, чтобы правильно принимать приёмы и страховать себя и противника. Таким образом, сводятся к минимуму возможные травмы.
</h5>

<img src="https://wallup.net/wp-content/uploads/2019/09/07/1010073-tna-wrestling.jpg"
     width="550" height="360"/>
     
<img src="https://3.bp.blogspot.com/-QGE0MOxbaKc/VzA5kxtdyvI/AAAAAAAADYw/T3grzEJ2SMszi4qXi6ST5ijjSwrRJ2migCK4B/s1600/WWE.jpg"
     width="550" height="360"/>